<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="shortcut icon" type="image/png" href="../../img/favicon.png">

  <title>{{ escape(handler.settings["mars_title"]) }}</title>

  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/jsplumbtoolkit-defaults.css">
  <link rel="stylesheet" href="../static/css/jsplumbtoolkit-demo.css">
  <link rel="stylesheet" href="../static/css/demo.css">
  <link rel="stylesheet" href="../static/css/topo.css">
  <link rel="stylesheet" href="../static/css/amaran.min.css">
  <link rel="stylesheet" href="../static/css/animate.min.css">
  

  {% block head %}{% end %}
</head>
<body>

  <div class="navbar navbar-top navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      </div>
      <div class="navbar-collapse collapse nav-wrapper">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>

    <div class="logo">
      <img src="../static/img/mars.png">
    </div>

    <div class="run_button">
      <img  id="run_button_img" src="../static/img/run.png" onclick="run()">
    </div>
  </div>

  <div id="body" class="container-fluid">
    <div class="col-xs-2">{% block tree %}{% end %}</div>
    <div class="col-xs-7">{% block body %}{% end %}</div>
    <div class="col-xs-3">{% block console-form %}{% end %}</div>
  </div>

  
  {% block bottom %}{% end %}
</body>
</html>
