
.container-fluid {
    padding-top: 160px;
	padding-right: 10px;
	padding-left: 10px;
}

.canvas {
	/*from www.duitang.com time.jpg*/
    background: url('../img/canvas.jpg') repeat center #eee;

}

.node {
	/*position: absolute;*/
	z-index: 100;

}

.logo {
	float:right ;
	padding-top: 16px;
	padding-right: 64px;
	z-index: 3000
}

.run_button {
	padding-left: 15%;
	padding-top: 40px;
}

.run_button:hover {
    cursor: pointer;
}

.endpointSourceLabel {
	z-index: 5000
}

.endpointTargetLabel {
	z-index: 5000
}

.closeNode {
    right:2px;
    top:2px;
    position:absolute;
}

.closeNode:hover {
    cursor: pointer;
}


.console-content {
	white-space: pre-wrap;
	height:820px;
	overflow: auto;

}
/*.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 100px;
    height: 40px;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}*/

/*.row-fluid {
	width: 100%;

}

.sidebar-nav {
	position: fixed;
	width: 200px;
	left: 0px;
	bottom: 0;
	top: 44px;
	background: #eee;
	padding: 9px 0;
	z-index: 10;
	transition: all 500ms ease;

}

.console-bar {
	position: relative;
}*/