
.container-fluid {
    padding-top: 160px;
	padding-right: 10px;
	padding-left: 10px;
}

.canvas {
	/*from www.duitang.com time.jpg*/
    background: url('../img/canvas.jpg') repeat center #eee;

}

.node {
	/*position: absolute;*/
	z-index: 100;

}

.logo {
	float:right ;
	padding-top: 16px;
	padding-right: 32px;
	z-index: 3000
}

.run_button {
	padding-left: 15%;
	padding-top: 40px;
}

.run_button :hover {
    cursor: pointer;
}


.endpointSourceLabel {
	z-index: 5000
}

.endpointTargetLabel {
	z-index: 5000
}


.save-widget {
    /*float: right;*/
    right: 0px;
    position:absolute;
    max-width: 300px;
}
.inNode {
    left:4px;
    top:4px;
    position:absolute;
    /*display: inline;*/
}

.inNode:hover {
    cursor: pointer;
}


.closeNode {
    right:4px;
    top:4px;
    position:absolute;
    /*display: inline;*/
}

.closeNode:hover {
    cursor: pointer;
}

.console-part {
    background-color: transparent;
    font-family: Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width:1500px;
    position: relative;
}

.console-content {
    /*white-space: pre-wrap;    */
    /*height:820px;*/
    overflow: auto;
    width: 100%

}

.console-div {
	padding-top: 5px
}

.input-group {
	/*padding-top: 5px*/
    padding-bottom: 5px
}

.tree-head {
    float:right; 
    display:inline;
    border-radius: 0.3em;
    width: 1em;
    height: 1em;

}

.tree-data {
    filter: alpha(opacity=50);background-color:rgba(100,221,23,0.8);
}

.tree-model {
    filter: alpha(opacity=50);background-color:rgba(52,103,137,0.8);
}

.tree-evaluate {
    filter: alpha(opacity=50);background-color:rgba(0,191,255,0.8);
}

.tree-visualize {
    filter: alpha(opacity=50);background-color:rgba(255,215,0,0.8);
}

.tree-customize {
    filter: alpha(opacity=50);background-color:rgba(139,69,19,0.8);
}

