
.container-fluid {
    padding-top: 160px;
	padding-right: 10px;
	padding-left: 10px;
}

.canvas {
	/*from www.duitang.com time.jpg*/
    background: url('../img/canvas.jpg') repeat center #eee;

}

.node {
	/*position: absolute;*/
	z-index: 100;

}

.logo {
	float:right ;
	padding-top: 16px;
	padding-right: 64px;
	z-index: 3000
}

.run_button {
	padding-left: 15%;
	padding-top: 40px;
}


/*.row-fluid {
	width: 100%;

}

.sidebar-nav {
	position: fixed;
	width: 200px;
	left: 0px;
	bottom: 0;
	top: 44px;
	background: #eee;
	padding: 9px 0;
	z-index: 10;
	transition: all 500ms ease;

}

.console-bar {
	position: relative;
}*/